<div class="container ">
    <div class="borderAlign">
        <form class=" p-3 mt-5 ml-auto mr-auto border  border-secondary " [formGroup]='editProfileForm'>
            <div class="form-group row">
                
                    <!-- <div class="invalidError">
                            <div class=" col-sm-12  col-md-12 col-lg-12 login-notification-color border   p-1 rounded"
                                *ngIf='userFlag == true'>
                                <small class="p-2">please Login before adding items to cart</small>
                            </div>
                        </div>
                        <div class="invalidError">
                                <div class=" col-sm-12  col-md-12 col-lg-12 login-notification-color border   p-1 rounded"
                                    *ngIf='signupFlag == 1'>
                                    <small class="p-2">Login with your new Credentials</small>
                                </div>
                            
                        </div> -->
                <div class="m-3 pb-3 pt-3">
                    <h2>Edit your Profile</h2>
                    <!-- <div class="invalidError">
                        <div class=" col-sm-12 col-md-12 col-lg-12 login-notification-color border   p-1 rounded"
                            *ngIf='loginError == true'>
                            <small class="p-2">Invalid UserName or Password</small>
                        </div>
                    </div> -->
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 pt-1 ">
                    <label for="contactNumber">Change your contact Number</label>
                    <input type="text"
                    [ngClass]="[(editProfileForm.controls.contactNumber.dirty || editProfileForm.controls.contactNumber.touched) && editProfileForm.controls.contactNumber.valid ? 'is-valid' : '',
                    (editProfileForm.controls.contactNumber.dirty || editProfileForm.controls.contactNumber.touched) && editProfileForm.controls.contactNumber.invalid ? 'is-invalid' : '', 
                    (editProfileForm.controls.contactNumber.valid || editProfileForm.controls.contactNumber.invalid) ? 'form-control' : '']"
                    id="contactNumber" name="contactNumber" placeholder="Enter your new contact number"
                        formControlName="contactNumber">
                    <!-- <div
                        *ngIf="(!editProfileForm.controls.contactNumber.valid && (editProfileForm.controls.contactNumber.dirty || editProfileForm.controls.contactNumber.touched))">
                        <div *ngIf="editProfileForm.controls.contactNumber.errors.required" class="errorMessage"><small>Mobile Number is
                                Required</small>
                        </div>
                    </div> -->
                </div>

                <div class=" col-lg-12 col-md-12 col-sm-12 pt-4">
                    <label for="password">Change your Password</label>
                    <input type="password" 
                    [ngClass]="[(editProfileForm.controls.password.dirty || editProfileForm.controls.password.touched) && editProfileForm.controls.password.valid ? 'is-valid' : '',
                    (editProfileForm.controls.password.dirty || editProfileForm.controls.password.touched) && editProfileForm.controls.password.invalid ? 'is-invalid' : '', 
                    (editProfileForm.controls.password.valid || editProfileForm.controls.password.invalid) ? 'form-control' : '']"
                    id="password" name="password"
                        placeholder="Enter your new Password" formControlName="password">
                    <!-- <div
                        *ngIf="(!editProfileForm.controls.password.valid && (editProfileForm.controls.password.dirty || editProfileForm.controls.password.touched))">
                        <div *ngIf="editProfileForm.controls.password.errors.required" class="errorMessage"><small>password is
                                Required</small>
                        </div>
                    </div> -->
                </div>

                <div class=" col-lg-3 col-md-3 col-sm-2 col-2 pt-4">
                    <button type="submit" class="btn btn-info mt-2" [disabled]="!editProfileForm.valid"   (click)="editprofile(editProfileForm)">save</button>
                </div>
                <!-- <div class="col-lg-9 col-md-9 col-sm-10 col-10 text-right mt-3 pt-4 ">
                    <h6 class="text-muted">New here?<a class="text-info" routerLink="/signup"
                            routerLinkActive="active-link">Signup</a></h6>
                </div> -->
            </div>
        </form>
    </div>
</div>

